[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Urtzi Enriquez-Urzelai
	email = urtzi.enriquez@gmail.com
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[init]
	defaultBranch = main
