tabbar .box {
  background-color: #000000;
  box-shadow: none;
  padding: 0;
}

tabbar tabbox {
  min-height: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

tabbar tab {
  background-color: #000000;
  color: #aeafb0;
  border-radius: 0;
  min-height: 0;
  padding: 1px 10px;
  font-size: 16px;
}

tabbar tab label,
tabbar tab:not(:selected) label {
  color: #71839b;
}

tabbar tab:selected label {
  color: #aeafb0;
  font-weight: bold;
}

tabbar tab:hover,
tabbar tab:active {
  background-color: #121821;
}

tabbar tab:selected:hover,
tabbar tab:selected:active {
  background-color: #121821;
}

tabbar tabbox.single-tab tab,
tabbar tabbox.single-tab tab:hover,
tabbar tabbox.single-tab tab:active {
  background: #192330;
}

tabbar tab indicator {
  background: transparent;
}
